@font-face {
    font-family: determination;
    src: url(fonts/determination_mono.otf);
    font-style: normal;
    font-weight: normal;
}

.deltarune-text {
    font-family: determination;
    text-decoration: none;
    color: white;
}

.deltarune-text-highlited{
    font-family: determination;
    text-decoration: none;
    color: yellow;
}

.navbar-nav a:hover {
    color: yellow;
}

.nav-item a:hover{
    color: yellow;
}