body{
    background-color: black;
    size: 100%;
    margin: auto;
}

@font-face {
    font-family: determination;
    src: url(fonts/determination_mono.otf);
    font-style: normal;
    font-weight: normal;
}

.header-point{
    background-color: rgb(73, 73, 73);
    margin-top: 0%;
    font-size: 3vh;
}

.link{
    font-family: determination;
    text-decoration: none;
    color: yellow;
    font-size: inherit;
}

.link-text{
    font-family: determination;
    text-decoration: none;
    color: white;
    font-size: inherit;
    position: relative;
    left: 35%;
}

.link-text-clicked{
    color: yellow;
}

.padder{
    padding: 2vw;
}

.progress{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-family: determination;
    font-size: 7vw;
}
