.PP-titel{
    color: yellow;
    font-family: determination;
    font-size: 4vw;
}

.PP-text{
    color: white;
    font-family: determination;
    font-size: 1vw; 
}

.PP-subtitel {
    color: yellow;
    font-family: determination;
    font-size: 2vw;
}
