.PP-titel{
    color: yellow;
    font-family: determination;
    font-size: 4vw;
    text-align: center;
}

.PP-text{
    color: white;
    font-family: determination;
    font-size: 1vw;
    text-align: left;
    margin-left: 16vw;
    margin-right: 16vw;
}

.PP-subtitel {
    color: yellow;
    font-family: determination;
    font-size: 2vw;
    text-align: center;
}

.p-breaker{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
