body {
  margin: 0vw;
  background-image: url(https://i.ibb.co/7pVHjYj/Blurred.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.navbar {
  background-color: black;
  height: 5vh;
}

.navbarimg {
  width: 5vw;
  height: 4vh;
}

.footer {
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9vw;
  bottom: 0vw;
  height: 2vw;
}