.carousel_video {
    width: 25vw;
    height: 14vw;
    position: relative;
    left: -15.5vw;
}

.carousel_image {
    position: relative;
    transform: translateY(-2vw);
    width: 15vw;
    height: 10vw;
}

.carousel_imageright{
    right: -50vw;
}

.carousel_imageleft{
    left: -25vw;
}

.carousel_button{
    position: absolute;
    transform: translateY(5vw);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button img{
    width: 5vw;
}

.carousel_button_right{
    right: 30vw;
}

.carousel_button_left {
    left: 30vw;
}