.wrappertitle {
    color: white;
    text-shadow: 3px 2px 10px #93B3FD;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 3vw;
}

.wrappertxt {
    font-size: 1.5vw;
    font-family: 'Courier New';
    text-shadow: 3px 2px 7px #C0C0C0;
    text-align: left;
}

.wrapperstory{
    color:#F7DFBD;
}

.wrapperinfo{
    color:#93B3FD;
}

.wrapperwm {
    position: relative;
    right: -65vw;
    width: 12vw;
    height: 25vh;
}

@keyframes spin{
    from
    {
        transform: rotateY(0deg)
    }

    to 
    {
        transform: rotateY(360deg)
    }
}

@keyframes hoverDw{
    from 
    {
        transform: translateY(-500%);
    }

    to 
    {
        transform: translateY(0vh);
    }
}

.wrapperrotate{
    animation: spin 6s infinite;
}

.wrapperhover {
    position:absolute;
    animation: hoverDw 3s;
}