body {
  margin: 0%;
  background-image: url(https://i.ibb.co/7pVHjYj/Blurred.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.navbar
{
  background-color:black;
  size: 20%;
  
}

.navbarimg
{
  width: 10%;
  height: 15%;

}