html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: fit-content;
  min-width: fit-content;
}

body {
    background-image: url(https://i.ibb.co/7pVHjYj/Blurred.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: auto;
}