.wrappertitle {
    color: white;
    text-shadow: 3px 2px 10px #93B3FD;
    text-align: center;
    font-family: 'Comic Sans MS';
}

.wrappertxt {
    font-size: 20px;
    font-family: 'Courier New';
    text-shadow: 3px 2px 7px #C0C0C0;
}

.wrapperstory{
    color:#F7DFBD;
}

.wrapperinfo{
    color:#93B3FD;
}

.wrapperwm {
    position: relative;
    right: -950px;
}

@keyframes spin{
    from
    {
        transform: rotateY(0deg)
    }

    to 
    {
        transform: rotateY(360deg)
    }
}

@keyframes hoverDw{
    from 
    {
        transform: translateY(-400px);
    }

    to 
    {
        transform: translateY(0px);
    }
}

.wrapperrotate{
    animation: spin 6s infinite;
}

.wrapperhover {
    position:absolute;
    animation: hoverDw 3s;
}